<section id="navbar">
  <nav>
    <div class="logo">
      <a href="/index" style="text-decoration: none">
        <i class="fa-solid fa-user-large"></i>
        <span>User Management</span>
      </a>
    </div>
    <div class="nav-links">
      <ul>
        <li><a href={{link1}}> {{value1}}</a></li>
        <li><a href={{link2}}> {{value2}}</a></li>
      </ul>
    </div>
  </nav>
</section>